<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">
        <span class="letters">
          <span> u </span>
          <span> l </span>
          <span> t </span>
          <span> i </span>
          <span> m </span>
          <span> a </span>
          <span> T </span>
          <span> e </span>
          <span> s </span>
          <span> t </span>
          <span> a </span> <span> t </span> <span> e </span>
        </span>  
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/user']"
              >
              <span class="nav-sign-in">
                SignIn/Register
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
